html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #21293b;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: blueviolet !important;
    font-weight: 500;
}
.ant-tabs-tab{
    color: white !important;
}
