body {

}

.index-menu-icon {
    padding: 20px;
}

.setting-menu {
    background: #39404b;
    color: white;
}

.menu-header {
    padding-left: 20px;
    padding-right: 20px;
}

.menu-header-selected {
    color: dodgerblue;
}